<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <style>
        button {
            margin-bottom: 30px;
        }
    </style>
    <nav class="bg-gray-800 text-white p-2 flex justify-between items-center">
        <a class="text-2xl font-semibold ml-4" href="#">FEEDBACK</a>
        <div class="md:hidden ml-4">
            <!-- Mobile menu button -->
            <button id="menuBtn" class="text-white hover:text-yellow-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
        </div>
        <div class="hidden md:flex  space-x-4 mr-4">
            <a class="hover:font-semibold  hover:text-yellow-400" href="/">Home</a>
            <a class="hover:font-semibold hover:text-yellow-400" href="/about">About</a>
            <a class="hover:font-semibold hover:text-yellow-400" href="/register">Registration</a>
            <!-- <a class="hover:font-semibold hover:text-yellow-400" href="#">Contact</a> -->
        </div>
    </nav>

    <div class=" mt-20 px-10 justify-center">
        <h3 class="text-2xl pb-4 text-center font-bold text-gray-700">STUDENT/FACULTY FEEDBACK SYSTEM</h3>
        <p class="text-xl text-blue-800">Student Feedback system is used to get the feedback from the students. 
            It generates the reports for the faculty on the basis of given feedback by 
            the students. The staff will be provided with separate usernames and 
            password in order to check the results. The total report is visible to the 
            people like HOD. It contains the modules like student, 
            faculty and admin. Admin is the responsible for creating a class and 
            assigning the corresponding faculty to the class. Within short time we 
            can get the performance of the faculty from the student point of view. 
            There are 8 questions to evaluate the status of faculty and each 
            question contains 5 options like Excellent, very good, good, Average and 
            Poor.</p>
    </div>