<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body>
    <div>
        <nav class="bg-gray-800 text-white p-2 flex justify-between items-center">
            <span class="text-2xl font-semibold ml-4">{{email}}</span>
            <div class="md:hidden ml-4">
                <!-- Mobile menu button -->
                <button id="menuBtn" class="text-white hover:text-yellow-400">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
            <div class="hidden md:flex  space-x-4 mr-4">
                <a class="hover:font-semibold hover:text-yellow-400" href="/logout">Logout</a>
            </div>
        </nav>
    </div>
    
    <div class="my-1 flex h-screen">
        <div class="my-0.2 w-1/5 bg-gray-800 text-white" id="sidebar">
            <h1 class="my-10 py-5 bg-blue-400 text-white p-10 text-center font-bold text-2xl"> <a href="{{''}}">Dashboard</a> </h1>
            <div class="flex-1 p-4" id="content">
                <div class="text-center mt-8" id="user-profile">
                    <img class="w-32 h-32 rounded-full object-cover mx-auto" src="{{src}}" alt="Image" />
                    <h2 class="text-2xl font-bold mt-8 ">{{name}}</h2>
                </div>
            </div>
            <ul class="list-none px-10" id="navbar">
                <li class="my-2">
                    <a href="/facupdatepass" class="text-white">
                        Update Password
                    </a>
                </li>
                <li class="my-2">
                    <a href="/facupdateinfo" class="text-white">
                        Update Profile
                    </a>
                </li>
                <li class="my-2">
                    <a href="/facufeedback" class="text-white">
                        Feedback
                    </a>
                </li>
            </ul>
        </div>

        {%for messages in messages%}
        <div class="bg-green-200 border border-green-500 text-green-900 px-6 py-3 rounded relative" role="alert">
            <strong>Message: </strong> {{messages}}
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3"></span>
        </div>
    {% endfor %}

   


        <div class="  w-full bg-gray-100" id="main-content">
            <!-- Your main content goes here -->
            <h1 class="  my-8 mx-8 text-yellow-400  text-4xl font-bold text-center">Feedback </h1>
           <div class="h-1 text-[black] border-solid border-2"></div>
            <form method="post" action="{% url 'facufeedback' %}" >
               <div class="flex justify-center"> 
                <table class="border-slate-900  border-spacing-2 border table-auto ">
                    <thead>
                        <tr>
                            <th class="border px-4 py-2">S.No.</th>
                            <th class="border px-4 py-2">Faculty</th>
                            <th class="border px-4 py-2">Quest 1</th>
                            <th class="border px-4 py-2">Quest 2</th>
                            <th class="border px-4 py-2">Quest 3</th>
                            <th class="border px-4 py-2">Quest 4</th>
                            <th class="border px-4 py-2">Quest 5</th>
                            <th class="border px-4 py-2">Quest 6</th>
                            <th class="border px-4 py-2">Quest 7</th>
                            <th class="border px-4 py-2">Quest 8</th>
                            <th class="border px-4 py-2">Rating</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in feeddata %}
                        <tr>
                            <td class="border px-4 py-2">{{forloop.counter}} </td>
                            <td class="border px-4 py-2">{{f.name}} </td>
                            <td class="border px-4 py-2">{{f.q1}} </td>
                            <td class="border px-4 py-2">{{f.q2}} </td>
                            <td class="border px-4 py-2">{{f.q3}} </td>
                            <td class="border px-4 py-2">{{f.q4}} </td>
                            <td class="border px-4 py-2">{{f.q5}} </td>
                            <td class="border px-4 py-2">{{f.q6}} </td>
                            <td class="border px-4 py-2">{{f.q7}} </td>
                            <td class="border px-4 py-2">{{f.q8}} </td>
                            <td class="border px-4 py-2">{{f.rating}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               </div>
            </form>
        </div>
    </div>
    
</body>
</html>