<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Feedback System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 bg-[url('bg.png')] bg-cover">
    <nav class="bg-gray-800 text-white p-2 flex justify-between items-center">
        <a class="text-2xl font-semibold ml-4" href="#">FEEDBACK</a>
        <div class="md:hidden ml-4">
            <!-- Mobile menu button -->
            <button id="menuBtn" class="text-white hover:text-yellow-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
        <div class="hidden md:flex  space-x-4 mr-4">
            <a class="hover:font-semibold  hover:text-yellow-400" href="/">Home</a>
            <a class="hover:font-semibold hover:text-yellow-400" href="/about">About</a>
            <a class="hover:font-semibold hover:text-yellow-400" href="/register">Registration</a>
            <!-- <a class="hover:font-semibold hover:text-yellow-400" href="#">Contact</a> -->
        </div>
    </nav>

    <div class="text-center mt-20">
        <h1 class="text-5xl font-bold">STUDENT/FACULTY FEEDBACK SYSTEM</h1>
        <div class="flex justify-center mt-8">
            <img class="w-40 h-40 mx-8 mt-20 mb-2" src="/static/student-logo.jpg" alt="Logo 1">
            <img class="w-40 h-40 mx-8 mt-20 mb-2" src="/static/faculty-logo.jpg" alt="Logo 2">
            <img class="w-40 h-40 mx-8 mt-20 mb-2" src="/static/admin-logo.png" alt="Logo 3">
        </div>
        <div class="flex flex-wrap justify-center mt-8">
            <a href="/login" class="bg-gray-800 text-white rounded-full py-2 px-6 text-lg font-semibold mx-16 hover:bg-blue-400 hover:text-white-800">Student</a>
            <a href="/facultylogin" class="bg-gray-800 text-white rounded-full py-2 px-6 text-lg font-semibold mx-16 hover:bg-blue-400 hover:text-white-800">Faculty</a>
            <a href="/admin" class="bg-gray-800 text-white rounded-full py-2 px-6 text-lg font-semibold mx-16 hover:bg-blue-400 hover:text-white-800">Admin</a>
        </div>
    </div>

</body>
</html>
