<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <nav class="bg-gray-800 text-white p-2 flex justify-between items-center">
        <a class="text-2xl font-semibold ml-4" href="#">{{username}}</a>
        <div class="md:hidden ml-4">
            <!-- Mobile menu button -->
            <button id="menuBtn" class="text-white hover:text-yellow-400">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                </svg>
            </button>
        </div>
        <div class="hidden md:flex  space-x-4 mr-4">
            <a class="hover:font-semibold hover:text-yellow-400" href="logout">Logout</a>
        </div>
    </nav>

    <div class="flex h-screen">
        <div class="my-1 w-1/5 bg-gray-800 text-white" id="sidebar">
            <h1 class="my-10 py-5 bg-blue-400 text-white p-10 text-center font-bold text-2xl">Dashboard</h1>
            <div class="flex-1 p-4" id="content">
                <div class="text-center mt-8" id="user-profile">
                    <img class="w-32 h-32 rounded-full object-cover mx-auto" src="{{src}}" alt="Image" />
                    <h2 class="text-2xl font-semibold mt-8 ">{{email}}</h2>
                </div>
            </div>

            <ul class="list-none px-10 text-lg" id="navbar">
                <li class="my-2">
                    <a href="updatepassword" class="text-white">
                        Update Password
                    </a>
                </li>
                <li class="my-2">
                    <a href="updateinfo" class="text-white">
                        Update Profile
                    </a>
                </li>
                <li class="my-2">
                    <a href="stufeedback" class="text-white">
                        Feedback
                    </a>
                </li>
            </ul>
        </div>
    </div>
   

    </p>
</body>

</html>